* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background: rgb(182, 202, 142);
   /* background: white; */

}
.calculator {
   height: 500px;
   width: 30%;
   border: 1px solid transparent;
   margin: auto;
   margin-top: 50px;
   -webkit-box-shadow: -2px -1px 13px -1px  rgba(0, 0, 0, 0.47);
   -moz-box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
   box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
   border-radius: 20px;
}
.display {
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    height:12%;
    width:85%;
    margin: auto;
    margin-top: 20px;

    -webkit-box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
    box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
 }
.keyboard {
    width: 58%;
    height: 75%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repat(4, 80px);
    gap: 15px;
}
.keyboard > div {
    -webkit-box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
    box-shadow: -2px -1px 13px -1px rgba(0, 0, 0, 0.47);
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
.keyboard >  div:hover {
    background-color: pink;
}
.black {
    background-color: black;
    color: white;
}
.red {
    background-color: red;
   
}
